/* index.css */

/* Centering the form and table */
* {
  background-color: rgb(2, 15, 41);
  font-family: "Quicksand";
  color: #f8f3f3;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.Tform {
  width: 10%;
}

.title {
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 38px;
  margin: 0;
  padding: 1rem;
}

.Tform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tform input,
.Tform select,
.Tform button {
  margin-top: 0.5rem;
  padding: 10px;
  width: 100%;
}

.Submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.Submit-btn:hover {
  background-color: #00d9aa;
}

/* Table Container */
.table-container {
  width: 60%; /* Set table width to 100% */
  overflow-x: auto; /* Add horizontal scroll if table overflows */
}

/* Table */
.table {
  width: 40%; /* Set table width to 100% */
  border-collapse: collapse; /* Collapse table borders */
}

/* Table Header */
.table th {
  background-color: #f8f9fa; /* Set header background color */
  color: #333; /* Set header text color */
  font-weight: bold; /* Set header text bold */
  padding: 8px; /* Set header padding */
  text-align: left; /* Set header text alignment */
  border: 1px solid #333; /* Set header border */
}

/* Table Body */
.table-tr td {
  padding: 8px; /* Set body cell padding */
  border: 1px solid #333; /* Set body cell border */
}

/* Alternate Row Styling for Table Body */
.table-tr tr:nth-child(even) {
  background-color: #f8f9fa; /* Set even row background color */
}

/* Hover Effect for Table Rows */
.table-tr tr:hover {
  background-color: #d1e3f5; /* Set hover row background color */
  cursor: pointer; /* Set cursor to pointer on hover */
}

/* Text Alignment for Table Cells */
.table-tr td.text-center {
  text-align: center; /* Set text center alignment */
}

.table-tr td.text-right {
  text-align: right; /* Set text right alignment */
}

